@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/common.scss';

//지인 Badge color
@mixin Beige() {
  background-color: $orange-100;
  color: $orange-500;
}

//동료 Badge color
@mixin Purple() {
  background-color: $purple-100;
  color: $purple-500;
}

//가족 Badge color
@mixin Green() {
  background-color: $green-100;
  color: $green-500;
}

//친구 Badge color
@mixin Blue() {
  background-color: $blue-100;
  color: $blue-500;
}

.EmojiBadgeContainer {
  background-color: $color--black;
  opacity: 54%;
  border-radius: 32px;
  width: 16px;
  height: 21px;
  padding: 8px 12px;
}

.TextBadgeContainer {
  width: 41px;
  height: 20px;
  border-radius: 4px;
  @include Flex(row, center, center, '');
  @include Blue;
}
.TextBadgeText {
  @include font-style(14, regular);
}
