@import "../../styles/Color.css";

.div {
    input {
        border-radius: 8px;
        padding: 12px 16px;
        border: 1px solid var(--gray-color-300);
        background-color: var(--white-color);
    }
    input:hover {
        border: 1px solid var(--gray-color-500);
    }
    input:active {
        border: 2px solid var(--gary-color-700);
    }
    input:focus {
        border: 2px solid var(--gray-color-500);
    }
    input::placeholder {
        font-size: 16px;
    }
    input:disabled {
        border: 1px solid var(--gray-color-300);
        color: var(--surface-color);
    }
}