@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.card-list-layer {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: fit-content;
  padding-bottom: 24px;
  .card-list-box {
    width: fit-content;
    .title-layer {
      margin-top: 50px;
      margin-left: 24px;
      margin-bottom: 16px;
      .card-list-title {
        @include font-style(24, bold);
        line-height: 36px;
      }
    }
    .card-list-data {
      position: relative;
      width: 1248px;

      @include size-1248 {
        width: 100%;
      }
      .card-list-wrapper {
        position: relative;
        background-color: $color--white;

        @include tablet {
        }
        @include mobile {
        }

        .slick-slider {
          @include Flex(row, center, center, null);
          .arrow {
            position: absolute;
            z-index: 2;
            &.left {
              left: 15px;
              &.disabled {
                visibility: hidden;
              }
            }
            &.right {
              right: 35px;
              &.disabled {
                visibility: hidden;
              }
            }
            @include size-1248 {
              display: none;
            }
          }
          .slick-list {
            width: 1180px;
            .slick-track {
              @include size-1248 {
                margin-left: 24px;
              }

              .slick-slide {
                margin-right: 20px;
                width: 275px !important;

                @include mobile {
                  width: 200px !important;
                  margin-right: 12px;
                }
              }
            }
          }
        }
        .skelet-layer {
          @include Flex(row, center, center, 20px);
        }
      }
    }
  }
  .link-button-layer {
    margin-top: 64px;
    padding: 0 24px;
    width: 100%;
    @include Flex(row, center, center, null);

    @include tablet {
      align-items: center;
      justify-content: center;
    }

    @include mobile {
      padding: 0 20px;
    }
    .post-link-button {
      margin-top: 16px;
      width: 100%;
      max-width: 280px;
      color: $color--white;
      background-color: $purple-600;
      @include tablet {
        margin-top: 156px;
        max-width: 720px;
      }
      @include mobile {
        margin-top: 66px;
        max-width: 320px;
      }
    }
  }
}
