@import 'assets/styles/reset.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';
@import 'assets/styles/common.scss';
.reactions {
  @include Flex(row, baseline, center, 8px);
  flex-wrap: wrap; // 만약 숫자가 엄청 클 때 카드 밖으로 빠져나가는거보다 아래로 내려가는게 나을거같아서 추가

  @include mobile {
    gap: 4px;
  }
}

.reaction {
  @include Flex(row, center, center, 2px);
  background-color: rgba($color--black, 0.54);
  color: $color--white;
  padding: 8px 12px;
  border-radius: 32px;
  @include font-style(16, regular);
  white-space: nowrap; // 줄바꿈 자동으로 안되게

  @include mobile {
    padding: 6px 8px;
    @include font-style(14, regular);

    &.small {
      padding: 4px 8px;
    }
  }
}
