@import 'assets/styles/reset.scss';
@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/common.scss';
.options {
  @include Flex(row, null, center, 16px);

  .option {
    width: 168px;
    height: 168px;
    border-radius: 16px;
    border: 1px solid #00000014;
    @include Flex(row, center, center, null);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      //애니메이션 효과
      transform: scale(1.05);
      transition-duration: 0.2s;
    }
    &.purple {
      background-color: $purple-200;
    }

    &.beige {
      background-color: $beige-200;
    }
    &.blue {
      background-color: $blue-200;
    }
    &.green {
      background-color: $green-200;
    }

    .check {
      @include Flex(row, center, center, null);
      background-color: $gray-500;
      border-radius: 100px;
      width: 44px;
      height: 44px;
    }

    @include mobile {
      width: 154px;
      height: 154px;
    }
  }
  @include mobile {
    //2x2배열을 위함
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
