@import './Skeleton.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/palette.scss';

.skeleton {
  @include Skeleton;

  .header.card {
    padding: 0;
  }

  &.container {
    background-color: $gray-200;
  }
  .skeleton-profile {
    width: 56px;
    height: 56px;
    border-radius: 100px;
  }

  .skeleton-name {
    width: 109px;
    height: 24px;
  }
  .skeleton-badge {
    width: 41px;
    height: 20px;
    padding: 0px 8px;
    border-radius: 4px;
  }
  .date {
    width: 65px;
    height: 18px;
  }
  .border {
    height: 1px;
  }
}
