@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/CardModal.scss';

.modal-container {
  background-color: $color--white;
  width: 600px;
  height: 476px;
  border-radius: 16px;
  box-shadow: 0px 2px 12px rgb(0, 0, 0, 0.08);
}
//모달 header style
.modal-header {
  width: 599px;
  height: 116px;
}
.modal-header-item-container {
  @include Flex(row, space-between, '', '');
  padding-top: 40px;
  padding-left: 39px;
  padding-right: 45px;
}
.modal-profile-name {
  margin: 0 0 6px 0;
}
//모달 body style
.modal-body {
  @include Flex(column, center, center, 24px);
}
.card-letter-container {
  width: 520px;
  height: 256px;
  border-top: 1px solid $gray-200;
  overflow: auto;
}

.modal-btn {
  width: 120px;
  line-height: 26px;
  letter-spacing: -0.01em;
}
