@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/common.scss';

.container {
  @include Flex(row, space-between, center, 20px);

  .selectedProfileImage {
    border-radius: 100%;
    background-color: $gray-200;
    width: 80px;
    height: 80px;
  }

  .wrapper {
    @include Flex(column, null, null, 12px);
    @include font-style(16, regular);

    @include mobile {
    }
    .profileImages {
      @include Flex(row, space-between, null, 4px);
      flex-wrap: wrap;

      .profileImage {
        border-radius: 100%;
        background-color: $gray-200;
        cursor: pointer;
        width: 56px;
        height: 56px;
        @include mobile {
          width: 40px;
          height: 40px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
