@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/common.scss';

.container {
  @include Flex(row, space-between, center, 20px);

  .selectedProfileImage {
    border-radius: 100%;
    background-color: $gray-200;
    width: 30%;
  }

  .wrapper {
    @include Flex(column, null, null, 12px);
    @include font-style(16, regular);

    .profileImages {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4px;

      .profileImage {
        border-radius: 100%;
        background-color: $gray-200;
        cursor: pointer;
        width: 90%;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
