@import 'assets/styles/reset.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/palette.scss';

.header-right {
  @include Flex(row, null, center, 28px);
  .profile-list {
    width: 76px;
  }

  & > div:nth-child(1) {
    @include Flex(row, null, center, 11px);
  }

  .border {
    width: 1px;
    height: 28px;
    background-color: $gray-200;
    border-radius: 10px;
  }

  & > div:nth-child(3) {
    @include Flex(row, null, center, 8px);
    .dropdown {
      width: 36px;
      height: 36px;
      @include Flex(row, center, center, null);
    }
    .button-wrapper {
      @include Flex(row, null, center, 13px);
      position: relative;

      .emoji-picker {
        position: absolute;
        left: -237px;
        top: 50px;
      }
    }
  }
}
