@import 'assets/styles/reset.scss';
@import 'assets/styles/common.scss';
@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import '../card/Skeleton.scss';

.header-name {
  @include font-style(28, bold);

  @include mobile {
    @include font-style(18, bold);
  }
}

.header-right {
  @include Flex(row, null, center, 28px);
  .profile-list {
    width: 76px;
  }

  .writer-count {
    @include Flex(row, null, center, 11px);
  }
}
.border {
  width: 1px;
  height: 28px;
  background-color: $gray-200;
  border-radius: 10px;
}

.emoji-share-wrapper {
  @include Flex(row, null, center, 8px);

  .reaction-wrapper {
    @include Flex(row, null, center, null);

    .skeleton {
      @include Skeleton;

      &.skeleton-reaction {
        width: 62px;
        height: 32px;
      }
    }
  }
  .dropdown {
    width: 36px;
    height: 36px;
    @include Flex(row, center, center, null);
  }
  .button-wrapper {
    @include Flex(row, null, center, 13px);
    position: relative;

    .emoji-picker {
      z-index: 5;
      position: absolute;
      left: -237px;
      top: 50px;

      @include mobile {
        left: -80px;
      }
    }
  }
}

.header-mobile {
  & > div {
    height: 52px;
    padding: 0 20px;
    @include Flex(row, null, center, 2px);
    border-bottom: 1px solid #ededed;
  }

  .emoji-share-wrapper {
    justify-content: space-between;

    .reaction-wrapper {
      gap: 2px;
    }
    .button-wrapper {
      gap: 15px;
    }
  }
}

.icon-plus {
  width: 20px;
  height: 20px;
}

.skeleton {
  @include Skeleton;

  &.skeleton-header-name {
    width: 200px;
    height: 28px;
  }

  &.skeleton-circle {
    width: 28px;
    height: 28px;
    border-radius: 100px;
  }
  &.skeleton-text {
    width: 120px;
    height: 28px;
  }
}

.circle-list {
  @include Flex(row, null, center, null);
}
