@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

// 카드 리스트 - 공통적인 css (크기나 radius 등)
@mixin CardListWrapper {
    width: 275px;
    height: 260px;
    border-radius: 16px;
    border: 1px solid #0000001A;
    box-shadow: 0px 2px 12px 0px #00000014;
    
    padding: 30px 24px 20px;
    background-repeat: no-repeat;
}

.card-list {
    @include CardListWrapper;
    cursor: pointer;

    .card-list-content {
        height: 100%;
        @include Flex(column, space-between, null, null);
    }

    .content-top {
        @include Flex(column, null, null, 12px);

        .reaction-wrapper {
            @include Flex(column, null, null, 12px);
        }
    
        .profile-list {
            position: relative;
            height: 28px;

            & > * {
                position: absolute;
            }
            img {
                border-radius: 50px;
                border: 1.5px solid $color--white;
                width: 28px;
                height: 28px;
            }

            @for $i from 0 to 2 {
                img:nth-child($i + 1) {
                    left: 0 + (16px * $i);
                    z-index: $i + 1;
                }
            }

            div {
                z-index: 4;
                left: 48px;
                background-color: $color--white;
                border-radius: 30px;
                padding: 5px 6px;
                
                @include font-style(12, regular);
                color: $gray-500;   
                p{
                    @include Flex(row, center, center, null);
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    letter-spacing: -0.005em;
                }
            }
        }
    }

    .reactions {
        padding-top: 17px;
        border-top: 1px solid #0000001F;
        @include Flex(row, baseline, center, 8px);
    }

    .reaction {
        @include Flex(row, center, center, 2px);
        background-color: #0000008A;
        color: $color--white;
        padding: 8px 12px;
        border-radius: 32px;
        @include font-style(16, regular);
    }

    &.image {
        background-size: cover;
        background-position: center; // TODO: 이미지 보고 포지션 바꾸기
    }
    
    &.color {
        background-position: right bottom;
    }

    &.purple {
        background-color: $purple-200; 
        background-image: url('../assets/images/image_pattern_01.svg'); 
    }

    &.orange {
        background-color: $orange-200; 
        background-image: url('../assets/images/image_pattern_02.svg'); 
    }

    &.blue {
        background-color: $blue-200; 
        background-image: url('../assets/images/image_pattern_03.svg'); 
    }

    &.green {
        background-color: $green-200; 
        background-image: url('../assets/images/image_pattern_04.svg'); 
    }

    &.img {
        color: $color--white;
    }
}