@import 'assets/styles/common.scss';
@import 'assets/styles/palette.scss';

.DeleteButton {
  width: 36px;
  height: 36px;
  cursor: pointer;
  @include Flex(row, center, center, null);
  background-color: $color--white;
  border: 1px solid $gray-300;
  border-radius: 6px;
  &:hover {
    background-color: $gray-100;
  }
  &:active {
    background-color: $gray-100;
  }
  &:focus {
    border: 1px solid $gray-500;
  }
  &:disabled {
    background-color: $gray-300;

    // svg파일의 path태그 마지막줄에 있는 fill속성을 사용해 색상변경
    path {
      fill: $color--white;
    }
  }
}
