@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.emoji-list-layer {
  position: relative;
  @include Flex(column, center, center, null);
  .emoji-toggle {
    width: 36px;
    height: 36px;
    border: none;
    background-color: $color--white;
    cursor: pointer;
  }
  .all-emoji-list {
    position: absolute;
    top: 45px;
    right: 0;

    z-index: 100;
    border-radius: 8px;
    padding: 24px;

    border: 1px solid $gray-border;
    box-shadow: 0px 2px 2px 0px rgb($color--black, 0.08);
    background-color: $color--white;
    display: grid;
    gap: 10px 8px;

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mobile {
      padding: 16px;
      left: 0;
      right: auto;
    }

    & > p {
      width: 150px;
      white-space: nowrap;
    }
  }
}
