@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/common.scss';

.error {
  @include font-style(14, regular);
  color: $color--error;
  line-height: 150%;
  margin-top: -8px;
}
