@import '../assets/styles/common.scss';
@import '../assets/styles/palette.scss';

.plus-button {
  cursor: pointer;
  @include Flex(row, center, center, null);
  background-color: $gray-500;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  &:disabled,
  &:disabled:hover {
    background-color: $gray-300;
  }
  &:hover {
    background-color: $gray-600;
  }
  &:active {
    background-color: $gray-700;
  }
  &:focus {
    background-color: $gray-700;
    border: 1px solid $gray-800;
  }
}
