@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.cardlistlayer {
  padding: 50px 0;
  @include Flex(column, center, center, null);
  .cardlistbox {
    width: 1200px;
    @include Flex(column, center, center, null);
    p {
      margin-bottom: 16px;
      @include font-style(24, bold);
      line-height: 36px;
    }
    .datecardlist {
      margin-bottom: 40px;
      @include Flex(row, center, center, 20px);
    }
    .hotcardlist {
      @include Flex(row, center, center, 20px);
      margin-bottom: 50px;
    }
  }
}
