@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.card-list-layer {
  padding: 50px 0;
  @include Flex(column, center, center, null);
  .card-list-box {
    // width: 1200px;
    @include Flex(column, center, center, null);
    p {
      margin-bottom: 16px;
      @include font-style(24, bold);
      line-height: 36px;
    }
    .card-list {
      @include Flex(row, center, center, 20px);
      &.hotcard {
        margin-bottom: 50px;
      }
      &.date-list {
        margin-bottom: 40px;
      }
    }
  }
}
