@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.card-list-layer {
  padding: 50px 0;
  @include Flex(column, center, center, null);
  .card-list-box {
    @include Flex(column, center, center, null);
    margin-bottom: 50px;
    p {
      margin-bottom: 16px;
      @include font-style(24, bold);
      line-height: 36px;
    }

    .card-list-data {
      @include Flex(row, center, center, null);
      position: relative;
      .arrow {
        position: relative;
        @include Flex(row, center, center, null);
        border: 1px solid $gray-arrow-border;
        border-radius: 100%;
        background-color: $color--white;
        width: 40px;
        height: 40px;
        z-index: 2;
        &.right {
          right: 20px;
        }
        &.left {
          left: 20px;
        }
        &.disabled {
          visibility: hidden
        }
      }
    }
    .list {
      @include Flex(row, center, center, 20px);
    }
  }
}