@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.dropdown-menu {
  @include font-style(16, regular);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $color--white;
  border: 1px solid $gray-300;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgb($color--black, 0.08);
  list-style-type: none;
  padding: 10px 1px;
  margin: 8px 0 0;
  z-index: 2;
  &.relative {
    position: relative;
  }
  li {
    @include font-style(16, regular);
    padding: 12px 16px;
    color: $gray-900;
    cursor: pointer;
    &:hover {
      background-color: $gray-100;
    }
  }
}
