@import 'assets/styles/common.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/palette.scss';

.input-layer {
  .input {
    height: 50px;
    border-radius: 8px;
    padding: 12px 16px;
    outline: 1px solid $gray-300;
    background-color: $color--white;
    border: none;
    width: 100%;
    @include font-style(16, regular);

    &:hover {
      outline: 1px solid $gray-500;
    }
    &:active {
      outline: 2px solid $gray-700;
    }
    &:focus {
      outline: 2px solid $gray-500;
    }
    &::placeholder {
      @include font-style(16, regular);
    }
    &:disabled {
      outline: 1px solid $gray-300;
      color: $color--surface;
    }
    &:invalid {
      outline: 1px solid $color--error;
    }
  }
}
