@import '../../assets/styles/common.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/palette.scss';

    .InputLayer .Input {
        border-radius: 8px;
        padding: 12px 16px;
        border: 1px solid $gray-300;
        background-color: $color--white;
        outline: none;
    }
    .InputLayer .Input:hover {
        border: 1px solid $gray-500;
    }
    .InputLayer .Input:active {
        border: 2px solid $gray-700;
    }
    .InputLayer .Input:focus {
        border: 2px solid $gray-500;
    }
    .InputLayer .Input::placeholder {
        @include font-style(16, regular);
    }
    .InputLayer .Input:disabled {
        border: 1px solid $gray-300;
        color: $color--surface;
    }