@import './common.scss';
@import './palette.scss';
@import './fonts.scss';

$types: (
  modal: (
    gap: 16px,
  ),
  card: (
    gap: 14px,
  ),
);

@mixin ContainerStyle {
  border-radius: 16px;
  background-color: $color--white;
  box-shadow: 0px 2px 12px 0px rgba($color--black, 0.08);
}

@mixin ProfileFlex($type) {
  $type-styles: map-get($types, $type);
  @include Flex(row, null, center, map-get($type-styles, gap));
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color--black, 0.5);
  @include Flex(row, center, center, null);
  z-index: 1000;
}

.container {
  @include ContainerStyle;

  &.plus {
    @include Flex(row, center, center, null);
  }

  .modal-body {
    @include Flex(column, center, center, 24px);
  }

  .modal-btn {
    width: 120px;
    line-height: 26px;
    letter-spacing: -0.01em;
  }

  .header {
    @include Flex(row, space-between, center, null);
    border-bottom: 1px solid $gray-200;

    .profile-container {
      img {
        width: 56px;
        height: 56px;
        border-radius: 100px;
        border: 1px solid $gray-200;
      }
      .profile-text-wrapper {
        @include Flex(column, null, null, 6px);

        .profile-name {
          @include font-style(20, regular);

          & > span {
            @include font-style(20, bold);
          }
        }
      }

      &.modal {
        @include ProfileFlex(modal);
      }

      &.card {
        @include ProfileFlex(card);
      }
    }

    &.card {
      padding-bottom: 15px;
    }

    &.modal {
      padding-bottom: 20px;
    }
  }

  .card-letter-container {
    overflow: auto;
    width: 520px;
    height: 256px;
  }

  .card-letter {
    @include font-style(18, regular);
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;

    &.modal {
      color: #5a5a5a;
      width: 500px;
      height: 240px;
    }
    &.card {
      color: #4a4a4a;
      width: 336px;
      height: 106px;
      overflow: auto;
      overscroll-behavior: contain;
    }
  }

  .date {
    @include font-style(14, regular);
    color: $gray-400;
  }

  &.card {
    width: 384px;
    height: 280px;
    padding: 28px 24px 24px;
    @include Flex(column, null, null, 16px);

    transition: transform 0.3s ease-in-out;

    @media (max-width: 1248px) {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
      transform: scale(0.93);
    }

    .plus-wrapper {
      width: 336px;
      height: 228px;
      @include Flex(row, center, center, null);
    }

    .cbx {
      position: relative;
      top: 1px;
      width: 27px;
      height: 27px;
      border: 1px solid #c8ccd4;
      border-radius: 3px;
      vertical-align: middle;
      transition: background 0.1s ease;
      cursor: pointer;
      display: block;
    }
    .cbx:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 8px;
      width: 7px;
      height: 14px;
      opacity: 0;
      transform: rotate(45deg) scale(0);
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: all 0.3s ease;
      transition-delay: 0.15s;
    }
    .lbl {
      margin-left: 5px;
      vertical-align: middle;
      cursor: pointer;
    }

    .hidden-xs-up:checked ~ .cbx {
      border-color: transparent;
      background: #6871f1;
      animation: jelly 0.6s ease;
    }

    .hidden-xs-up:checked ~ .cbx:after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }

    .cntr {
      position: relative;
    }

    @keyframes jelly {
      from {
        transform: scale(1, 1);
      }

      30% {
        transform: scale(1.25, 0.75);
      }

      40% {
        transform: scale(0.75, 1.25);
      }

      50% {
        transform: scale(1.15, 0.85);
      }

      65% {
        transform: scale(0.95, 1.05);
      }

      75% {
        transform: scale(1.05, 0.95);
      }

      to {
        transform: scale(1, 1);
      }
    }

    .hidden-xs-up {
      display: none !important;
    }

    .card-button-wrapper {
      input[type='checkbox'] {
        display: none;
      }
      .checkbox {
        display: inline-block;
        width: 45px;
        height: 45px;
        border: 2px solid $gray-300;
        border-radius: 10px;
        position: relative;
        @include Flex(row, center, center, null);

        img {
          // filter: invert(0%) sepia(3%) saturate(13%) hue-rotate(202deg)
          //   brightness(92%) contrast(100%);
          filter: invert(27%) sepia(0%) saturate(4242%) hue-rotate(144deg)
            brightness(99%) contrast(121%);
          user-select: none;
        }
      }
    }
  }

  &.modal {
    width: 600px;
    height: 476px;
    padding: 40px;
    @include Flex(column, null, null, 16px);
  }
}
