@import './common.scss';
@import './palette.scss';
@import './fonts.scss';

$types: (
  modal: (
    gap: 16px,
  ),
  card: (
    gap: 14px,
  ),
);

@mixin ContainerStyle {
  border-radius: 16px;
  background-color: $color--white;
  box-shadow: 0px 2px 12px 0px rgba($color--black, 0.08);
}

@mixin ProfileFlex($type) {
  $type-styles: map-get($types, $type);
  @include Flex(row, null, center, map-get($type-styles, gap));
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color--black, 0.5);
  @include Flex(row, center, center, null);
  z-index: 1000;
}

.container {
  @include ContainerStyle;

  &.plus {
    @include Flex(row, center, center, null);
  }

  .modal-body {
    @include Flex(column, center, center, 24px);
  }

  .modal-btn {
    width: 120px;
    line-height: 26px;
    letter-spacing: -0.01em;
  }

  .header {
    @include Flex(row, space-between, center, null);
    border-bottom: 1px solid $gray-200;

    .profile-container {
      img {
        width: 56px;
        height: 56px;
        border-radius: 100px;
        border: 1px solid $gray-200;
      }
      .profile-text-wrapper {
        @include Flex(column, null, null, 6px);

        .profile-name {
          @include font-style(20, regular);

          & > span {
            @include font-style(20, bold);
          }
        }
      }

      &.modal {
        @include ProfileFlex(modal);
      }

      &.card {
        @include ProfileFlex(card);
      }
    }

    &.card {
      padding-bottom: 15px;
    }

    &.modal {
      padding-bottom: 20px;
    }
  }

  .card-letter-container {
    overflow: auto;
    width: 520px;
    height: 256px;
  }

  .card-letter {
    @include font-style(18, regular);
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;

    &.modal {
      color: #5a5a5a;
      width: 500px;
      height: 240px;
    }
    &.card {
      color: #4a4a4a;
      width: 336px;
      height: 106px;
      overflow: auto;
      overscroll-behavior: contain;
    }
  }

  .date {
    @include font-style(14, regular);
    color: $gray-400;
  }

  &.card {
    width: 384px;
    height: 280px;
    padding: 28px 24px 24px;
    @include Flex(column, null, null, 16px);

    @media (max-width: 1248px) {
      width: 100%;
    }
    &:hover {
      cursor: pointer;
    }

    .plus-wrapper {
      width: 336px;
      height: 228px;
      @include Flex(row, center, center, null);
    }

    .card-button-wrapper {
      input[type='checkbox'] {
        display: none;
      }
      .checkbox {
        display: inline-block;
        width: 45px;
        height: 45px;
        border: 2px solid $gray-300;
        border-radius: 10px;
        position: relative;
        @include Flex(row, center, center, null);

        img {
          // filter: invert(0%) sepia(3%) saturate(13%) hue-rotate(202deg)
          //   brightness(92%) contrast(100%);
          filter: invert(27%) sepia(0%) saturate(4242%) hue-rotate(144deg)
            brightness(99%) contrast(121%);
          user-select: none;
        }
      }
    }
  }

  &.modal {
    width: 600px;
    height: 476px;
    padding: 40px;
    @include Flex(column, null, null, 16px);
  }
}
