// 모든 파일에서 범용적으로 사용할만한 스타일 규칙 정의하기

// flex box 공통적으로 사용할 수 있게끔
// 사용하지 않을 속성은 ''으로 작성하면 됨, 파라미터 개수 순서는 맞춰야함
// ex) @include Flex(column, center, '', '')
@mixin Flex($col, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $col;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}
