$color--purple-100: #f8f0ff;
$color--purple-200: #ecd9ff;
$color--purple-300: #dcb9ff;
$color--purple-400: #c894fd;
$color--purple-500: #ab57ff;
$color--purple-600: #9935ff;
$color--purple-700: #861dee;
$color--purple-800: #6e0ad1;
$color--purple-900: #5603a7;

$color--orange-100: #fff0d6;
$color--orange-200: #ffe2ad;
$color--orange-300: #ffc583;
$color--orange-400: #ffae65;
$color--orange-500: #ffae65;

$color--blue-200: #e2f5ff;
$color--blue-100: #b1e4ff;
$color--blue-300: #7cd2ff;
$color--blue-400: #34b9ff;
$color--blue-500: #00a2fe;

$color--green-100: #e4fbdc;
$color--green-200: #d0f5c3;
$color--green-300: #9be282;
$color--green-400: #60cf37;
$color--green-500: #2ba600;

$color--gray-100: #f6f6f6;
$color--gray-200: #eeeeee;
$color--gray-300: #cccccc;
$color--gray-400: #999999;
$color--gray-500: #555555;
$color--gray-600: #4a4a4a;
$color--gray-700: #3a3a3a;
$color--gray-800: #2b2b2b;
$color--gray-900: #181818;

$color--white: #ffffff;
$color--black: #000000;
$color--error: #dc3a3a;
$color--surface: #f6f8ff;
  