@import 'assets/styles/common.scss';
@import 'assets/styles/palette.scss';
@import 'assets/styles/fonts.scss';

.page-container {
  @include Flex(column, null, center, null);
  padding-top: 57px;
  Button {
    width: 100%;
  }
}
.text-container {
  padding: 50px 0 24px 0;
  p {
    margin-top: 4px;
  }
}
.option-container {
  padding: 45px 0;
}

@include tablet {
  .page-container {
    padding: 49px 24px;

    .form-container {
      margin-bottom: 24px;
    }
    .text-container {
      padding: 54px 0 24px 0;
    }
    .option-container {
      padding: 40px 0;
    }
  }
}

@include mobile {
  .page-container {
    padding: 50px 20px;
  }
  .text-container {
    padding: 48px 0 24px 0;
  }
  .option-container {
    padding-top: 28px;
  }
}

.font-24-bold {
  @include font-style(24, bold);
  color: $gray-900;
  &.title-to {
    line-height: 42px;
    padding-bottom: 12px;
  }
  &.title-choice {
    line-height: 36px;
  }
}
.font-16-regular {
  @include font-style(16, regular);
  color: $gray-500;
  line-height: 26px;
}

.error-message {
  @include font-style(18, regular);
  color: $color--error;
  line-height: 18px;
  margin-top: 4px;
}
